@import "../../styles/functions";

.form-controller {
  display: flex;
  flex-direction: column;
  gap: 9px;

  .input-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  label {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.21px;
  }
}

select {
  background-color: white;
  width: rem(280);
  height: rem(56);
  padding: rem(12);
  outline: none;
  border: 1px solid #cfcfcf;
  border-radius: 8px;
}
