$color-primary-dark: #d87d4a;
$color-primary-light: #fbaf85;
$color-dark: #101010;
$color-light: #f1f1f1;
$color-very-light: #fafafa;
$color-black: black;
$color-white: white;
$color-hero-bg: #191919;

$color-text-light: rgba(#fff, 0.5);
$color-text-dark: rgba(#000, 0.5);

.primary-color {
  color: $color-primary-dark;
}
